* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.top-nav {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-box input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-box button {
    border: none;
    background: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-actions a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
}

.user-actions i {
    margin-right: 5px;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 8px 0;
    gap: 25px;
}

.main-menu a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.main-menu a.highlight {
    color: #a02020;
    font-weight: 600;
}

.main-menu a:hover {
    color: #a02020;
}

.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.shop-btn {
    position: absolute;
    bottom: 120px;
    left: 200px;
    background: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 42px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.shop-btn:hover {
    background: rgba(255, 0, 200, 0.116);
    color: rgb(0, 0, 0);
}

.progress {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.square {
    width: 20px;
    height: 6px;
    border: 2px solid rgb(0, 0, 0);
    overflow: hidden;
}

.fill {
    background: rgb(0, 0, 0);
    width: 0%;
    height: 100%;
    transition: width 3s linear;
}

@media (max-width: 930px) {
    .top-nav {
        display: none;
    }

    .hero {
        height: 85vh;
    }

    .shop-btn {
        left: 50%;
        bottom: 80px;
        transform: translateX(-50%);
        font-size: 15px;
        padding: 10px 46px;
    }

    .progress {
        bottom: 15px;
        gap: 8px;
    }

    .square {
        width: 20px;
        height: 6px;
    }
}